<div class="container mt-5">
  <div class="row">
    <!-- 文章部分 -->
    <div class="col-lg-8">
      <!-- 开始渲染文章切片 -->
      <div class="row">
        {{range $post := .posts}}
        <div class="col-lg-6">
          <div class="card mb-4">
            <h5 class="card-header">{{$post.Title}}</h5>
            <div class="card-body">
              <div class="small text-muted mb-1">
                <span class="badge text-bg-warning">
                  类别：{{$post.Class.Id | tag}}
                </span>
              </div>
              <div class="small text-muted mb-1">
                <span class="badge text-bg-info">
                  {{date $post.Created "创建时间：Y年m月d日 H时i分s秒"}}
                </span>
              </div>
              <div class="small text-muted mb-2">
                <span class="badge text-bg-success">
                  文章内容简述：{{$post.Description}}
                </span>
              </div>
              <a class="btn btn-primary" href="/post/{{$post.Id}}" target="_blank">阅读 →</a>
            </div>
          </div>
        </div>
        {{else}}
        <h1>空空如也，你可以创建一个新文章。</h1>
        {{end}}
      </div>
    </div>
    <!-- 侧边部件 -->
    <div class="col-lg-4">
      <!-- 搜索框 -->
      <div class="card mb-4">
        <div class="card-header">搜索文章</div>
        <div class="card-body">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="仅支持文章标题搜索" aria-describedby="button-search" />
            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">分类</div>
        <div class="card-body">
          {{range $tag := .tags}}
          <a href="#" target="_blank" class="btn btn-outline-success">{{$tag.Name}}</a>
          {{end}}
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header">相关链接</div>
        <div class="card-body">
          <a href="https://github.com/SimonYen/BeeBlog" target="_blank" class="btn btn-light">项目GitHub地址</a>
          <a href="https://xiang-simonyen.vercel.app/" target="_blank" class="btn btn-light">作者博客</a>
        </div>
      </div>
    </div>
  </div>
</div>