<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <div class="card">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="true" style="background-color: aliceblue;">💻个人资料💻</button>
                            <button class="nav-link" id="nav-post-tab" data-bs-toggle="tab" data-bs-target="#nav-post"
                                type="button" role="tab" aria-controls="nav-post" aria-selected="false"
                                style="background-color: antiquewhite;">📄我的文章📄</button>
                            <button class="nav-link" id="nav-comment-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment"
                                aria-selected="false" style="background-color: honeydew;">📑我的评论📑</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
                            aria-labelledby="nav-profile-tab" tabindex="0" style="background-color: aliceblue;">
                            <!--资料页-->
                            <div style="text-align: center;">
                                <img class="rounded-circle shadow-1-strong me-3 mt-1" src="{{.user.Avatar}}" alt="头像"
                                    width="250" height="250">
                                <h1>📫电子邮箱：{{.user.Email}}</h1>
                                <h1>👴昵称：{{.user.Name}}</h1>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#avatar-modal">修改头像</button>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                    data-bs-target="#name-modal">修改昵称</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#psw-modal">修改密码</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-post" role="tabpanel" aria-labelledby="nav-post-tab"
                            tabindex="0">
                            {{range $post := .posts}}
                            <div class="card my-3" style="background-color: antiquewhite;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 pt-4">
                                            <p><strong>🍈标题：{{$post.Title}}</strong></p>
                                            <p>🥝类别：{{$post.Class.Id | tag}}</p>
                                            <p>🍎创建时间：{{date $post.Created "Y年m月d日 H时i分s秒"}}</p>
                                            <p>🍏最后修改时间：{{date $post.Updated "Y年m月d日 H时i分s秒"}}</p>
                                        </div>
                                        <div class="col-6 pt-5">
                                            <a href="/post/{{$post.Id}}" target="_blank"
                                                class="btn btn-secondary mb-1">查看文章</a>
                                            <button type="button" class="btn btn-primary mb-1"
                                                data-bs-target="#tag-modal-{{$post.Class.Id}}"
                                                data-bs-toggle="modal">更改分类</button>
                                            <button type="button" class="btn btn-info mb-1" data-bs-toggle="modal"
                                                data-bs-target="#delete-modal-{{$post.Id}}">修改文章</button>
                                            <button type="button" class="btn btn-danger mb-1" data-bs-toggle="modal"
                                                data-bs-target="#delete-modal-{{$post.Id}}">删除文章</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <h1>少侠，你没有发过文章哦！</h1>
                            {{end}}
                        </div>
                        <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab"
                            tabindex="0">
                            {{range $comment := .comments}}
                            <div class="card my-3" style="background-color: honeydew;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 pt-4">
                                            <p><strong>🍈被评论的文章标题：{{$comment.Belong.Title}}</strong></p>
                                            <p>🍎创建时间：{{date $comment.Created "Y年m月d日 H时i分s秒"}}</p>
                                            <p>🍏评论内容：{{$comment.Content}}</p>
                                        </div>
                                        <div class="col-6 pt-5">
                                            <a href="/post/{{$comment.Belong.Id}}" target="_blank"
                                                class="btn btn-secondary mb-1">查看评论所在文章</a>
                                            <a class="btn btn-danger mb-1"
                                                href="/comment/delete/{{$comment.Id}}">删除评论</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <h1>少侠，你没有在文章下写过评论哦！</h1>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>