<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
            <div class="card">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="true">💻个人资料💻</button>
                            <button class="nav-link" id="nav-post-tab" data-bs-toggle="tab" data-bs-target="#nav-post"
                                type="button" role="tab" aria-controls="nav-post"
                                aria-selected="false">📄我的文章📄</button>
                            <button class="nav-link" id="nav-comment-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment"
                                aria-selected="false">📑我的评论📑</button>
                        </div>
                    </nav>
                    <div class="tab-content pt-4" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
                            aria-labelledby="nav-profile-tab" tabindex="0">
                            <!--资料页-->
                            <div style="text-align: center;">
                                <img src="{{.user.Avatar}}" alt="头像" width="250" height="300" class="img-thumbnail">
                                <h1>📫电子邮箱：{{.user.Email}}</h1>
                                <h1>👴昵称：{{.user.Name}}</h1>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#avatar-modal">修改头像</button>
                                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                    data-bs-target="#name-modal">修改昵称</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#psw-modal">修改密码</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-post" role="tabpanel" aria-labelledby="nav-post-tab"
                            tabindex="0">
                            {{range $post := .posts}}
                            <div class="card my-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p><strong>{{$post.Title}}</strong></p>
                                            <p>创建于{{date $post.Created "Y年m月d日 H时i分s秒"}}</p>
                                            <p>最后修改于{{date $post.Updated "Y年m月d日 H时i分s秒"}}</p>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary">更改分类</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#delete-modal-{{$post.Id}}">删除文章</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <h1>少侠，你没有发过文章哦！</h1>
                            {{end}}
                        </div>
                        <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab"
                            tabindex="0">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>