<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		蜜蜂博客
	</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<body>
	<!--渲染导航栏-->
	{{template "layout/header.html" .}}
	<!--模板继承内容-->
	{{.LayoutContent}}

	<!--modal引入-->
	{{template "modals/login.html"}}
	{{template "modals/register.html"}}

	<script src="/static/js/bootstrap.bundle.min.js"></script>
	<script src="/static/js/register.js"></script>
</body>

</html>