<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
	<div class="container-fluid">
		<a class="navbar-brand" href={{urlfor "HomeController.Get" }}>BeeBlog</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
			aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href={{urlfor "HomeController.Get" }}>🏠主页</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href={{urlfor "HomeController.Get" }}>👓关于</a>
				</li>
				{{if .name}}
				<li class="nav-item">
					<a class="nav-link" href={{urlfor "PostAddController.Get" }}>➕新建文章</a>
				</li>
				{{end}}
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{{if .name}}
				<div class="dropdown-center">
					<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						👏欢迎你，{{.name}}
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">💻我的资料💻</a></li>
						<li><a class="dropdown-item" href="#">📄我的文章📄</a></li>
						<li><a class="dropdown-item" href={{urlfor "LogoutController.Get" }}>🏃退出登录🏃</a></li>
					</ul>
				</div>
				{{else}}
				<li class="nav-item">
					<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#register-modal">🍉注册</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#login-modal">🍍登录</a>
				</li>
				{{end}}
			</ul>
		</div>
	</div>
</nav>